@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins', sans-serif;

}
html{
    font-size: 62.5%;

}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #0A0A0A;
    color: #EAEAEA;
}
header{
   margin-top: 20px;
   position: fixed;
   top: 0; 
   left: 0;
   width: 100%;
   padding: 1rem 9%;
   background-color: transparent;
   filter: drop-shadow(10px);
   display: flex;
   justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #00E4FF;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: #EAEAEA;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #00E4FF;
    border-bottom: 3px solid #00E4FF;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #00E4FF;
        border-bottom: 3px solid #00E4FF;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #0A0A0A;
        border-top: 0.1rem solid rgba(0, 0,0, 0.1);

    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #00E4FF;
    }
    
}
section{
        min-height: 100vh;
        padding: 5rem 9% 5rem 9%;
    }
.home{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        background-color: #0A0A0A;
    }
.home .home-content h1{
        font-size: 6rem;
        font-weight: 700;
        line-height:1.3
    }
span{
    color: #00E4FF
}
.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;

}
.home-content p{
    font-size: 1.5rem;
    color: #999999;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #00E4FF;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border:0.2rem solid #00E4FF;
    font-size: 2rem;
    border-radius: 50%;
    margin:3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;

}

.social-icons a:hover{
    background-color: #00E4FF;
    color: black;
    transform: scale(1.3)translateY(-5px);
    background-color: #00E4FF;
    box-shadow: 0 0 25px solid #00E4FF;
}
.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #00E4FF;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #00E4FF;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1,0.3);
    background-color: #00E4FF;
    color: black;
    box-shadow: 0 0 25px #00E4FF;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "Web Developer";
    color: #00E4FF;
    animation:words 20s infinite;
}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #00E4FF;
    }
}
@keyframes words{
    0%,40%{
        content: "Web Developer";
    }
    41%,80%{
        content: "UI/UX Designer";
    }
    81%,100%{
        content: "Web Designer";
    }
}
@media(max-width:1000px){
    .home{
        gap:4rem;

    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin:5rem 4rem
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width:70vh;
        margin-top: 4rem;
    }
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: #101010;
}
.about-img img{
    width: 28vw;
    height: 80vh;
    border-radius: 2rem;
    box-shadow: 0 0 25px #00E4FF;
    margin-right: 15rem;
    margin-top: 5rem;
}

.heading{
    margin-top: 60px;
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    color: #EAEAEA;
}
.about-content h3{
    font-size: 2.6rem;
    color: #999999;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    color: #EAEAEA;
}  

.portfolio h2{
    margin-bottom: 4rem;

}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;

}
.portfolio-container .portfolio-box{
    width: 48vh;
    height: 40vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem #00E4FF;
    border-radius: 2rem;
    display: flex;
    cursor: pointer;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0,.3),#00E4FF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4em;
    transform: translateY(100%);
    transition: .5s ease;
   
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
    color: #EAEAEA;
    margin-bottom: 0.5rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #EAEAEA;
    border-radius: 50%;
    
}
.portfolio-layer a i{
    font-size: 2rem;
    color:#0A0A0A;
}
.contact{
    background: #0A0A0A;
    align-items: center;
    padding-bottom: 5rem;
    justify-content: center;
    text-align: center;
}
.contact .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact h2{
    margin-bottom: 3rem;

}
.contact .btn {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
    text-align: center;
}



.footer{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #101010;
}
.footer-text p{
    font-size: 1.6rem;
    
}
.footer-icon-top a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #00E4FF;
    border-radius: .8rem;


}
.footer-icon-top a i{
    font-size: 2.4rem;
    color: #0A0A0A;
}


.skills{
    background: #101010;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 3rem;
}
.skill-main h2{
    margin-bottom: 2rem;
    font-size: 3.2rem;
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 20px;
    background-color: #999999;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .info p{
    font-size: 2rem;
}
.skill-bar .bar span{
    width: 0%;
    height: 20px;
    position: absolute;
    left: 0;
    background:#00E4FF;
    border-radius: 25px;
    box-shadow: #4a2727;
    transition: width 1.8s ease;
}
.skills.in-view .skill-bar .bar .html{ width:75%; transition-duration:2s }
.skills.in-view .skill-bar .bar .css{ width:80%; transition-duration:2.2s }
.skills.in-view .skill-bar .bar .java{ width:90%; transition-duration:2.6s }
.skills.in-view .skill-bar .bar .python{ width:70%; transition-duration:2.8s }
.skill-right .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-right .skill-bar .bar{
    width: 100%;
    height: 20px;
    background-color: #999999;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skills.in-view .skill-bar .bar .teamwork{ width:80%; transition-duration:2s }
.skills.in-view .skill-bar .bar .communication{ width:70%; transition-duration:2.2s }
.skills.in-view .skill-bar .bar .creativity{ width:90%; transition-duration:2.6s }
.skills.in-view .skill-bar .bar .problemsolving{ width:75%; transition-duration:2.8s }



@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes java{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes python{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes teamwork{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes communication{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes creativity{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes problemsolving{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}